<div class="com">
  <div style="text-align:center;width: 100%;position:absolute">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
  <div (click)="onClick()" class="lia" style="position: absolute;top: 20px;left: 10px;">
    <li> <a mat-raised-button routerLink="./m1">Day1</a></li>
    <li> <a mat-raised-button routerLink="./m2">Day2</a></li>
    <li> <a mat-raised-button routerLink="./m3">Day3</a></li>
    <li> <a mat-raised-button routerLink="./m4">Day4</a></li>
    <li> <a mat-raised-button routerLink="./m5">Day5</a></li>
  </div>
</div>
<router-outlet></router-outlet>
<audio #audio loop="loop">
  <source src="assets/sound/forestEnvironment.mp3" type="audio/mp3" />
</audio>
